@using NovelSite.Models.Novel;

@{
    VisualNovelWithRatingResult topVNDB = ViewBag.TopVNDB;
    VisualNovelWithRatingResult topDrama = ViewBag.TopDrama;
    VisualNovelWithRatingResult lastUpdated = ViewBag.LastUpdated;
    VisualNovelWithRatingResult lastAdded = ViewBag.LastAdded;

    ViewData["Title"] = "Визуальные новеллы на русском языке";
    ViewData["MetaDescription"] = "Визуальные новеллы на русском языке - Astral Novel";
    ViewData["MetaKeywords"] = "Визуальные новеллы, Новеллы, Русский язык, Скачать визуальные новеллы";

    // Open Graph tags
    ViewData["OgTitle"] = "Визуальные новеллы на русском языке - Главная";
    ViewData["OgDescription"] = "Визуальные новеллы на русском языке, скачать визуальные новеллы";
    ViewData["OgImage"] = $"https://2f58d602-2c33-481e-875b-700b4d4b3263.selstorage.ru/{topVNDB.Result[0].VisualNovel.CoverImageLink}"; // TODO
    ViewData["OgUrl"] = Globals.GetFullUrl(Context);

    // VisualNovelWithRatingResult vns = ViewBag.Vns;
}

<div class="text-center">
    @await Html.PartialAsync("_VisualNovelMainContentPartial")
</div>
