@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Привет!</h1>
    <a asp-controller="Novel" asp-action="Create">Добавить визуальную новеллу</a>
</div>


<div class="text-center">
    <div class="row g-2">
        @foreach (VisualNovel vn in ViewBag.Vns)
        {
            <div class="card col-md-4 mt-4 col-lg-4">
                @if (vn.CoverImage != null)
                {
                    string strByte = Convert.ToBase64String(vn.CoverImage);
                    <img loading="lazy" src="data:image/jpg;base64,@strByte" class="home_cover_image">
                }
                else
                {
                    <img loading="lazy" src="images/thumbnail.png" class="home_cover_image">
                }
                <h1>@vn.Title</h1>
                <button type="button" class="btn"><a asp-controller="Novel" asp-action="Novel" asp-route-id="@vn.Id">More</a></button>
            </div>
        }
    </div>
</div>

